@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Carter+One&family=Fredoka+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  font-family: "Baloo 2", cursive;
}
body header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(25deg, #d60000, #220004 50%), url("../img/baner.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body header nav {
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 100%;
  text-align: right;
  padding: 10px 30px;
}
body header nav ul {
  list-style: none;
}
body header nav ul li a {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
body header h1 {
  font-size: 40px;
  font-family: "Carter One", cursive;
}
body header p {
  font-size: 20px;
  font-family: "Fredoka One", cursive;
}
body .main {
  width: 100%;
  padding: 50px 0;
  position: relative;
  background-image: radial-gradient(circle 860px at 11.8% 33.5%, rgb(240, 30, 92) 0%, rgb(244, 49, 74) 30.5%, rgb(249, 75, 37) 56.1%, rgb(250, 88, 19) 75.6%, rgb(253, 102, 2) 100.2%);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main .con {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
body .main .con::after {
  width: 1000px;
  min-height: 3000px;
  background-color: rgb(240, 30, 92);
  transform: rotate(20deg);
  z-index: 100;
}
body .main .con h1 {
  text-transform: capitalize;
  font-family: "Carter One", cursive;
  padding-bottom: 20px;
}
body .main .con button {
  font-size: 20px;
  padding: 5px 10px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 20px;
  cursor: pointer;
}

.inpg {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5px 0;
}
.inpg input,
.inpg select {
  font-size: 20px;
  padding: 2px;
}

.main-card {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  background-image: radial-gradient(circle 860px at 11.8% 33.5%, rgb(240, 30, 92) 0%, rgb(244, 49, 74) 30.5%, rgb(249, 75, 37) 56.1%, rgb(250, 88, 19) 75.6%, rgb(253, 102, 2) 100.2%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-card .head {
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 10;
}
.main-card .head button {
  font-size: 30px;
  font-weight: 600;
  padding: 15px 30px;
  background: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.342);
  transition: all 0.4s;
}
.main-card .head button:hover {
  background-color: lightgreen;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(144, 238, 144, 0.438);
}
.main-card .print_con {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.main-card .print_con .print-document {
  width: 554px;
  height: 647px;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
  background-color: #fff;
  overflow: hidden;
  letter-spacing: 0;
}
.main-card .print_con .print-document .bg-img {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}
.main-card .print_con .print-document .bg-img img {
  width: 100%;
  height: 100%;
}
.main-card .print_con .print-document .logo {
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 10px;
}
.main-card .print_con .print-document .logo img {
  width: 160px;
}
.main-card .print_con .print-document .elogo {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
}
.main-card .print_con .print-document .elogo img {
  width: 170px;
}
.main-card .print_con .print-document .develop {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 10px;
}
.main-card .print_con .print-document .develop span {
  color: red;
  font-size: 15px;
  font-weight: 700;
}
.main-card .print_con .print-document .sill {
  position: absolute;
  z-index: 1;
  right: 25px;
  bottom: -2px;
}
.main-card .print_con .print-document .sill img {
  width: 200px;
  filter: drop-shadow(1px 0 5px rgb(255, 255, 255));
}
.main-card .print_con .print-document .info {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.main-card .print_con .print-document .info .user_img {
  width: 100;
  height: 200px;
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  overflow: hidden;
}
.main-card .print_con .print-document .info .user_img .fr {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 4;
}
.main-card .print_con .print-document .info .user_img .fr img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 4;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-card .print_con .print-document .info .user_img .uimg {
  width: 100%;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
}
.main-card .print_con .print-document .info .user_img .uimg img {
  height: 170px;
  width: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.main-card .print_con .print-document .info .name {
  width: 100%;
  text-align: center;
  position: relative;
  top: 20px;
}
.main-card .print_con .print-document .info .name h1 {
  color: red;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: "Carter One", cursive;
}
.main-card .print_con .print-document .info .name h3 {
  color: rgb(27, 27, 27);
  text-transform: capitalize;
}
.main-card .print_con .print-document .date {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 0px;
}
.main-card .print_con .print-document .date .con_t {
  transform: rotate(-90deg);
  position: relative;
  left: -60px;
  bottom: 100px;
  font-family: "Rampart One", cursive;
  width: 250px;
  padding: 10px;
}

.main_user {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  background-image: radial-gradient(circle 860px at 11.8% 33.5%, rgb(245, 162, 187) 0%, rgb(245, 155, 167) 30.5%, rgb(231, 146, 127) 56.1%, rgb(241, 173, 143) 75.6%, rgb(238, 211, 193) 100.2%);
  flex-direction: column;
  align-items: center;
}
.main_user .user_con {
  text-align: center;
  margin: 20px;
}/*# sourceMappingURL=style.css.map */