<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/userLogin">login</a>
          </li>
        </ul>
      </nav>
      <h1>Wellcome to DICT contest</h1>
      <p>register now</p>
    </header>
    <div class="main" id="main">
      <div class="con">
        <h1>register for the Event</h1>
        <form
          action="/registration"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="inpg">
            <span>Photo:</span>
            <input type="file" name="photo" id="" accept="image/*" />
          </div>
          <div class="inpg">
            <span>Name:</span>
            <input type="text" name="name" id="" />
          </div>
          <div class="inpg">
            <span>Phone:</span>
            <input type="text" name="phone" id="" />
          </div>
          <div class="inpg">
            <span>Address:</span>
            <input type="text" name="address" id="" />
          </div>
          <div class="inpg">
            <span>T-shirt size:</span>
            <select name="Tshirt" id="">
              <option value="">chouse size</option>
              <option value="XXL">XXL</option>
              <option value="XL">XL</option>
              <option value="X">X</option>
              <option value="M">M</option>
              <option value="S">S</option>
            </select>
          </div>
          <div class="inpg">
            <span>Blood group:</span>
            <select name="BG" id="">
              <option value="">chouse</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="b+">B+</option>
              <option value="B-">B-</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
            </select>
          </div>
          <div class="inpg">
            <span>Registration for:</span>
            <select name="regfor" id="">
              <option value="Self">Self</option>
              <option value="for Friends">for Friends</option>
            </select>
          </div>
          <div class="inpg">
            <span>Payment:</span>
            <select name="pay" id="">
              <option value="Online">Online</option>
              <option value="Cash">Cash</option>
            </select>
          </div>
          <button type="submit">submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
